	.riqi{
	background-color:#FFD39B;
	text-align: center;
	font-size: 2em;
	}
	.shili{
		font-weight: bold;
		color:#8B2252;
		font-size: 1.5em;
	}
	.relative-a{
		font-size: 30px;
		font-weight: bold;
		color: red;
		position: relative;
		top: 20px;
		left: 20px;
	}
	.absolute-a{
		font-size: 30px;
		font-weight: bold;
		color: blue;
		background-color: green;
		text-align: center;
		width: 300px;
		position:absolute;
		top: 235px;
		left: 100px;
		margin: auto;
	}
	.box{
		width: 500px;
		height:500px;
		background-color: pink;
		position: relative;
	}
	.box-2{
		width: 600px;
		height:600px;
		background-color: black;
		position: relative;
	}
	.a{
		width: 200px;
		height: 200px;
		background-color: red;
		text-align: center;
		line-height: 200px;
	}
	.b{
		width: 200px;
		height: 200px;
		background-color: yellow;
		text-align: center;
		line-height: 200px;
		position: absolute;
		left: 400px;
		top: 0px;
	}
	.c{
		width: 200px;
		height: 200px;
		background-color: green;
		text-align: center;
		line-height: 200px;
		position: relative;
		left: 400px;
		top: 10px;

	}
	.d{
		width: 200px;
		height: 200px;
		background-color: green;
		text-align: center;
		line-height: 200px;
		position: absolute;
		bottom: 190px;
	}
	.box-2 p{
		margin: 0px;
		color: #63B8FF;
	}
	.float-left{
		width: 100px;
		height: 100px;
		border: 2px solid red;
		float: left;
	}
	.float-right{
		width: 100px;
		height: 100px;
		border: 2px solid red;
		float: right;
	}
	.float-right-left-a{
		width: 100px;
		height: 100px;
		border: 2px solid red;
		float: right;
	}
	.float-right-left-b{
		width: 100px;
		height: 100px;
		border: 2px solid red;
		float: left;
	}
	.float-top{
		width: 200px;
		height: 100px;
		border: 2px solid red;
	}
	.float-center{
		width: 150px;
		height: 100px;
		border: 2px solid black;
	}
	.float-bottom{
		width: 100px;
		height: 100px;
		border: 2px solid blue;
	}
	.float-top-a{
		width: 200px;
		height: 100px;
		border: 2px solid red;
		float: left;
	}
	.float-center-a{
		width: 150px;
		height: 100px;
		border: 2px solid black;
	}
	.float-bottom-a{
		width: 100px;
		height: 100px;
		border: 2px solid blue;
	}
	.float-top-b{
		width: 200px;
		height: 100px;
		border: 2px solid red;
	}
	.float-center-b{
		width: 150px;
		height: 100px;
		border: 2px solid black;
		float:left;
	}
	.float-bottom-b{
		width: 100px;
		height: 100px;
		border: 2px solid blue;
	}
	.float-top-c{
		width: 200px;
		height: 100px;
		border: 2px solid red;
	}
	.float-center-c{
		width: 150px;
		height: 100px;
		border: 2px solid black;
	}
	.float-bottom-c{
		width: 100px;
		height: 100px;
		border: 2px solid blue;
		float: left;
	}
	.float-top-d{
		width: 200px;
		height: 100px;
		border: 2px solid red;
		float: left;
	}
	.float-center-d{
		width: 150px;
		height: 100px;
		border: 2px solid black;
		float: left;
	}
	.float-bottom-d{
		width: 100px;
		height: 100px;
		border: 2px solid blue;
		float: left;
	}
	.float-top-e{
		width: 200px;
		height: 100px;
		border: 2px solid red;
		float: left;
	}
	.float-center-e{
		width: 150px;
		height: 100px;
		border: 2px solid black;
		float: left;
	}
	.float-bottom-f{
		width: 100px;
		height: 100px;
		border: 2px solid blue;
	}
	.float-top-h{
		width: 200px;
		height: 100px;
		border: 2px solid red;
	}
	.float-center-g{
		width: 150px;
		height: 100px;
		border: 2px solid black;
		float: left;
	}
	.float-bottom-g{
		width: 100px;
		height: 100px;
		border: 2px solid blue;
		float: left;	
	}
	.float-top-i{
		width: 200px;
		height: 100px;
		border: 2px solid red;
		float: left;
	}
	.float-center-j{
		width: 150px;
		height: 100px;
		border: 2px solid black;
	}
	.float-bottom-i{
		width: 100px;
		height: 100px;
		border: 2px solid blue;
		float: left;
	}
	.bigbox{
		width: 1000px;
		height: auto;
		position: relative;
	}
	.bigbox-a{
		position: absolute;
		left: 300px;
		top:0px;
	}
	.bigbox-b{
		position: absolute;
		left: 600px;
		top:0px;
	}
	.bigbox-c{
		position: absolute;
		left: 900px;
		top:0px;
	}
	.bigbox-d{
		position: absolute;
		left: 0px;
		top:400px;
	}
	.bigbox-e{
		position: absolute;
		left: 600px;
		top:400px;
	}
	.bigbox-f{
		position: absolute;
		left: 1000px;
		top:400px;
	}
	.bigbox-g{
		position: absolute;
		left: 0px;
		top:600px;
	}



