.riqi{
	background-color:#FFD39B;
	text-align: center;
	font-size: 2em;
	margin: 0px;
}
h1{
	color:red;
}
.xiaobiaoti{
	color:green;
	margin:0px;
	font-weight: bold;
}
.baidu:hover{color:red;}
.tengxun:hover{color:red;}
.youxi:hover{color:red;}
.dianji{
	font-size:20px;
	font-weight:bold;
}
.tupian{
	text-align: center;
}
.block{
	width: 300px;
	height: 100px;
	line-height: 100px;
	background-color: #8B4726;
	color: #7FFFD4;
	text-align: center;
	position: absolute; 
	top:100px;
	left:150px;
	margin:0px;
}
.block-div{
	width: 600px;
	background-color: red;
	height: 300px;
	position:relative;
}
